<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollegeProfile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>889D4ED71D4700E0007B3C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>889D4EEB1D4700E0007B3C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>889D4EF61D4700E0007B3C70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
